/* Portfolio Section */

#portfolio{
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.9);
    color: antiquewhite;
    align-items: center;
    padding: 20px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.gallery img{
    width: 360px;
    height: 240px;
    margin: 10px;
    transition: all .5s ease;
}

.gallery img:hover{
    box-shadow: 0 0 10px antiquewhite,0 0 15px antiquewhite,0 0 20px antiquewhite;
}
