/* Navbar */

.navbar ul{
    flex-wrap: wrap;
    justify-content: center;
}


/*  Headiongs */

.headings{
    font-size: 2.5rem;
}


/* About */

#pic{
    flex-direction: column;
    align-items: center;
}

#pic img{
    width: 265px;
    height: 300px;
}

#intro{
    text-align: justify;
    padding: 10px;
}


/* Contact */

.input{
    width: 60%;
}

#msg{
    width: 55%;
}

#send{
    width: 20%;
}
